
*{
    box-sizing: border-box;
}
.shijak{
    position: relative;
    margin-left: 30px;
   margin-top: 90px;
}

.shijak a{
  
   
    padding: 20px 40px;
   border: 2px solid rgb(00, 00, 213);
    color: black;
    text-decoration: none;
   
}
.shijak:hover a{
    background-color: rgb(0, 0, 213);
    border: 2px solid rgb(00, 00, 213);;
    color: aliceblue;
    transition: all 1s;
}
