body{
    background-color: rgb(47, 51, 52);
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.profil{
background-color: rgb(0, 84, 35);
width: 1500px;
height: 600px;
bottom: -10px;
}
/* index html */
.list {
    position: relative;
    color: aliceblue;
    list-style: none;
    display: flex;
    width: 70px;
    height: 40px;
    left: 838px;
    top: 10px;
    font-size: 15px; 
}
.item{

padding: 20px;
}
.item:hover a{
  transition: all 0,5s;
    box-shadow: 2px 2px 4px 2px rgb(12, 4, 239);
}
.item a{
    position: relative;
    text-decoration:none;
    color: gold;
    top: 7px;
    padding: 7px;
   margin-left:10px;
    box-shadow: 2px 2px 4px 2px gold;
}
.item{
  position:relative;
  top: 40px;
}

.sardor{
    
    position:relative;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    left: 437px;
    top: 10px;
    box-shadow: 7px 8px 3px 1px #000000;
 
}

img:hover.sardor{
    transition: all 3s ease-in;
    border-radius: 45%;
    transform: rotate(50px);
    box-shadow:4px 1px 10px 5px rgb(0, 0, 0);
}
/* icon */
.icon-an {
    position: relative;
    text-decoration: none;
    list-style: none;
    display: flex;
    top: 30px;
   

}
.icon-item a{
    text-decoration:none;
    color: gold;
    top: 5px;
    padding: 15px;
   margin-left: 20px;
    box-shadow: 2px 2px 4px 2px gold;
}

/* index html  tugashi*/
.video1{
    position: relative;
    left: 30%;
width: 800px;
height: 800px;
}
.video > p{
    position:relative ;
    width: 800px;
    height: 800px;
    top: -297px;
    left: 239px;
  
}
.butto button{
    position: relative;
    width: 80px;
    height: 40px;
    top: 70px;
    left: 500px;
    box-shadow: 4px 4px 3px 0px gold;
    margin-left: 40px;
}
.butto:hover button{
    width: 90px;
    height: 40px;
    animation: 3s;
    
    box-shadow: 4px 4px 3px 0px rgb(0, 255, 238);
}
/* Blog html */




/* Blog html tugashi*/

@media only screen and (max-width:960px){
   
    
}

@media only screen and (max-width:768px){
    .chagi-sogi{
        left: 3px;
        top: 0px;
        width:300px;
        text-align: center;
    }
}
@media only screen and (max-width:576px){
    .chagi-sogi{
        position: absolute;
        width:300px;
        left: 0px;
        top: -30px;
        text-align: center;
    }
    .chagi-sogi p{
      
    }
    .home ul,li{ 
        width: 200px;
    }

}